*.o
*.obj
*.a
*.pdb
*.depend
*.layout
*.bak
*.backup
*.cbTemp
*.log
*.bmarks
*_build_log.html
*.exe
*.dll
*.so
*.zip
*.7z
Doxygen/
distribution/repository/
distribution/temp/
3rdparty/atlmfc
3rdparty/OCCT/inc/
3rdparty/OCCT/lib/
3rdparty/OCCT/bin/
3rdparty/FFmpeg/FFmpegToLib
3rdparty/include/AL
3rdparty/include/freetype
3rdparty/include/lib*
3rdparty/include/ft2build.h
build/
bin/
lib/
StShared/obj/
StGLWidgets/obj/
StCore/obj/
StOutAnaglyph/obj/
StOutInterlace/obj/
StOutDual/obj/
StOutIZ3D/obj/
StOutPageFlip/obj/
StOutDistorted/obj/
StMonitorsDump/obj/
StImageViewer/obj/
StMoviePlayer/obj/
StDiagnostics/obj/
StCADViewer/obj/
StBrowserPlugin/obj/
sview/obj/
sview/gen/
sview/.settings/
sview/assets/
