*.o
*.obj
*.a
*.vcxproj.user
sView.Cpp.Custom.props
*.pdb
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.ipch
*.depend
*.layout
*.bak
*.backup
*.cbTemp
*.log
*.bmarks
*_build_log.html
*.exe
*.dll
*.so
*.zip
*.7z
*.gz
*.bz2
*.xz
*.dmg
custom.bat
custom.sh
Doxygen/
distribution/repository/
distribution/temp/
3rdparty/atlmfc
3rdparty/OCCT/inc/
3rdparty/OCCT/lib/
3rdparty/OCCT/bin/
3rdparty/FFmpeg/FFmpegToLib
3rdparty/include/AL
3rdparty/include/freetype
3rdparty/include/lib*
3rdparty/include/ft2build.h
3rdparty/include/OVR*
3rdparty/include/Extras/OVR*
build/
bin/
lib/
StShared/obj/
StGLWidgets/obj/
StCore/obj/
StOutAnaglyph/obj/
StOutInterlace/obj/
StOutDual/obj/
StOutIZ3D/obj/
StOutPageFlip/obj/
StOutDistorted/obj/
StMonitorsDump/obj/
StImageViewer/obj/
StMoviePlayer/obj/
StDiagnostics/obj/
StCADViewer/obj/
StCADViewer/gen/
StCADViewer/.settings/
StCADViewer/assets/
StBrowserPlugin/obj/
sview/obj/
sview/gen/
sview/.settings/
sview/assets/
