*.h         text
*.inl       text
*.cpp       text
*.mm        text
*.c         text
*.js        eol=lf
*.sh        eol=lf
*.workspace eol=lf
*.cbp       eol=lf
*.svg       eol=lf
*.xib       eol=lf
*.plist     eol=lf
*.bat       eol=crlf
*.rc        eol=crlf
*.def       eol=crlf
*.iss       eol=crlf
*.ini       eol=crlf
*.lng       eol=crlf
*.shf       eol=crlf
*.shv       eol=crlf
*.txt       eol=crlf
*.7z        binary
*.png       binary
*.jpg       binary
*.jps       binary
*.bmp       binary
*.ico       binary
*.icns      binary
*.std       binary
*.gz        binary
