sview (unknown_version) unknown_distrib; urgency=low

  + Added audio gain control.
  + Setup icon for sView window.
  + Interlace output - added option to disable binding to compatible monitor at application start.
  + Dual output - added menu for slave monitor selection.
  + Show Display Aspect Ratio in Image Viewer too.
  + Preliminary support for reading playlist in M3U format.
  * Improved backward seeking in movie player.
  * Switch audio device (OpenAL) without application restart.
  * Image Viewer - reduce FPS for inactive window.
  * Removed dependency from patched FTGL.
  * Improved text layout.

 -- Kirill Gavrilov <kirill@sview.ru>  unknown_date

sview (12.06-1~unknown_distrib) unknown_distrib; urgency=low

  * Movie player - fixed incorrect program termination in some scenarios.

 -- Kirill Gavrilov <kirill@sview.ru>  Wed, 06 Jun 2012 20:43:25 +0400

sview (12.05-1~unknown_distrib) unknown_distrib; urgency=low

  * Initial Release.

 -- Kirill Gavrilov <kirill@sview.ru>  Sun, 13 May 2012 17:08:50 +0400

