sview (unknown_version) unknown_distrib; urgency=low

  + Linux, XLib - read Xft.dpi property to scale interface appropriately.
  + Added option to scale GUI.
  + Movie Player - added subtitles font size control.
  + Movie Player - new Audio/Video synchronization control.
  + Movie Player, Web UI - added audio volume control
  + Distorted Output, Dual Output - added option to display Mono sources in Stereo.
  + Added icons for source format menu items
  * Display dual-stream video as stereo only when chosen "Autodetection" source format.
  * Fixed memory corruption on deletion of last item in playlist (file deletion).
  ^ Accelerate high-range planar YUV (9/10/16 bits per component) to RGB color conversion (using GLSL).
  ^ Optimized font initialization time and GPU memory usage.

 -- Kirill Gavrilov <kirill@sview.ru>  unknown_date

sview (13.06-1~unknown_distrib) unknown_distrib; urgency=low

  + Movie Player - added menu with recently played files.
  + Movie Player - added hot keys to switch subtitles ('T') and audio treks ('L').
  + Movie Player - read stereoscopic tags from WMV files.
  + Added Distorted output for anamorphic side-by-side, over/under outputs.
  + Added Over / Under output mode.
  * Fixed XRandr compatibility issues.
  * Display FPS meter widget inside window instead of window title.
  * Dual Output - extend single window in fullscreen mode when possible to improve synchronization.
  * Improved libraries packaging.
  * Keep file playback during output device change.
  * Do not create depth buffer when there is no need in it (slightly reduce GPU memory usage).
  * Keyboard input handling improvements.
  * Improved message box widget - added Close button.
  * Do not append m3u files to playlist.

 -- Kirill Gavrilov <kirill@sview.ru>  Sat, 15 Jun 2013 11:19:44 +0400

sview (13.01-1~unknown_distrib) unknown_distrib; urgency=low

  + Adjust stereo separation within '<' and '>' keys to cover notebook keyboards.
  + Use undo/redo buffer to keep played items order in shuffle mode.
  + Detect display(s) reconfiguration during application work (to correctly launch full-screen mode).
  + Movie Player - added new option to prevent system going to sleep during playback.
  + Movie Player - handle Audio device disconnection during application work.
  + Show dirty information about opened file by 'I' hot-key.
  * Shuffle playback - generate random order rather than the same pseudo-random order.
  * Movie Player - fixed seeking in paused state.
  * Movie Player - fixed switching between audio streams with different frequency.
  * Fixed saving of BMP image in PNG format.
  * Fixed displaying of stereo images with different dimensions per view.
  * Workaround bugs in some drivers (Catalyst) when window content doesn't redrawn after switching back from full-screen mode.

 -- Kirill Gavrilov <kirill@sview.ru>  Tue, 15 Jan 2013 22:13:51 +0400

sview (12.09-1~unknown_distrib) unknown_distrib; urgency=low

  + Added audio gain control.
  + Setup icon for sView window.
  + Interlace output - added option to disable binding to compatible monitor at application start.
  + Dual output - added menu for slave monitor selection.
  + Show Display Aspect Ratio in Image Viewer too.
  + Preliminary support for reading playlist in M3U format.
  * Improved backward seeking in movie player.
  * Switch audio device (OpenAL) without application restart.
  * Image Viewer - reduce FPS for inactive window.
  * Removed dependency from patched FTGL.
  * Improved text layout.

 -- Kirill Gavrilov <kirill@sview.ru>  Sun, 16 Sep 2012 18:34:46 +0400

sview (12.06-1~unknown_distrib) unknown_distrib; urgency=low

  * Movie player - fixed incorrect program termination in some scenarios.

 -- Kirill Gavrilov <kirill@sview.ru>  Wed, 06 Jun 2012 20:43:25 +0400

sview (12.05-1~unknown_distrib) unknown_distrib; urgency=low

  * Initial Release.

 -- Kirill Gavrilov <kirill@sview.ru>  Sun, 13 May 2012 17:08:50 +0400

