name: Build (macOS/Clang)
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build-macos-arm64:
    runs-on: macos-15
    steps:
    - name: Clone Tree
      uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: Install Dependencies
      run: |
        brew update
        brew install \
          freetype \
          ffmpeg \
          openal-soft
    - name: Compile
      run: |
        ./adm/ci/build_sview_osx.sh
