name: Build (Linux/Android)
on:
  workflow_call:

jobs:
  build-linux-android:
    runs-on: ubuntu-22.04
    steps:
    - name: Clone Tree
      uses: actions/checkout@v6
      with:
        path: sview.git
        fetch-depth: 1
    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          g++ ninja-build
    - name: Compile
      run: |
        ./sview.git/adm/ci/build_sview_android.sh
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: sview-apk
        path: build/sView-Release.apk
