name: Build (macOS/Clang)
on:
  workflow_call:

jobs:
  build-macos-arm64:
    runs-on: macos-15
    steps:
    - name: Clone Tree
      uses: actions/checkout@v6
      with:
        path: sview.git
        fetch-depth: 1
    - name: Install Dependencies
      run: |
        brew update
        brew install \
          freetype \
          ffmpeg \
          openal-soft
    - name: Compile
      run: |
        ./sview.git/adm/ci/build_sview_osx.sh
