name: Build (MinGW)
on:
  workflow_call:

env:
  ARCH: 'x64'
  SYSTEM: 'windows'
  TOOLCHAIN_PREFIX: x86_64-w64-mingw32
  TOOLCHAIN_TEXT: |
    set(CMAKE_SYSTEM_NAME Windows)
    set(CMAKE_C_COMPILER   x86_64-w64-mingw32-gcc-posix)
    set(CMAKE_CXX_COMPILER x86_64-w64-mingw32-g++-posix)
    set(CMAKE_RC_COMPILER  x86_64-w64-mingw32-windres)
    set(CMAKE_FIND_ROOT_PATH /usr/x86_64-w64-mingw32)
    set(CMAKE_FIND_ROOT_PATH_MODE_PROGRAM NEVER)
    set(CMAKE_FIND_ROOT_PATH_MODE_LIBRARY ONLY)
    set(CMAKE_FIND_ROOT_PATH_MODE_INCLUDE ONLY)
    set(CMAKE_BUILD_TYPE Release)
  FREETYPE_REF: 'VER-2-14-1'
  OPENAL_REF:   '1.25.1'
  OPENVR_REF:   'v2.5.1'
  CACHE_REV:    'cache4'

jobs:
  build-freetype:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/cache@v5
      id: cache
      with:
        path: freetype-install
        key: freetype-${{ env.SYSTEM }}-${{ env.ARCH }}-mingw-${{ env.FREETYPE_REF }}-${{ env.CACHE_REV }}
    - name: Clone Tree
      if: steps.cache.outputs.cache-hit != 'true'
      uses: actions/checkout@v6
      with:
        path: freetype.git
        repository: freetype/freetype
        ref: ${{ env.FREETYPE_REF }}
        fetch-depth: 1
    - name: Install Dependencies
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          g++ cmake ninja-build libz-mingw-w64-dev \
          mingw-w64-common mingw-w64-tools binutils-mingw-w64-x86-64 \
          g++-mingw-w64-x86-64-posix gcc-mingw-w64-x86-64-posix
        ${TOOLCHAIN_PREFIX}-g++ --version
    - name: Configure project
      if: steps.cache.outputs.cache-hit != 'true'
      env:
        FREETYPE_CONFIG: |
          set(BUILD_SHARED_LIBS ON  CACHE BOOL "")
          set(FT_WITH_ZLIB      ON  CACHE BOOL "")
          set(FT_WITH_BZIP2     OFF CACHE BOOL "")
          set(FT_WITH_PNG       OFF CACHE BOOL "")
          set(FT_WITH_HARFBUZZ  OFF CACHE BOOL "")
          set(FT_WITH_BROTLI    OFF CACHE BOOL "")
          set(CMAKE_DISABLE_FIND_PACKAGE_ZLIB      OFF  CACHE BOOL "")
          set(CMAKE_DISABLE_FIND_PACKAGE_BZip2     TRUE CACHE BOOL "")
          set(CMAKE_DISABLE_FIND_PACKAGE_PNG       TRUE CACHE BOOL "")
          set(CMAKE_DISABLE_FIND_PACKAGE_HarfBuzz  TRUE CACHE BOOL "")
          set(CMAKE_DISABLE_FIND_PACKAGE_BrotliDec TRUE CACHE BOOL "")
          ${{ env.TOOLCHAIN_TEXT }}
          set(CMAKE_INSTALL_PREFIX "${CMAKE_CURRENT_LIST_DIR}/freetype-install" CACHE PATH "")
      run: |
        echo "${FREETYPE_CONFIG}" | tee ./freetype-make.cmake
        cmake -S ./freetype.git -B ./freetype-make -G Ninja --toolchain "$PWD/freetype-make.cmake"
    - name: Build project
      if: steps.cache.outputs.cache-hit != 'true'
      run: cmake --build ./freetype-make
    - name: Install build
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        cmake --install ./freetype-make --prefix ./freetype-install
        cp -f "./freetype.git/docs/FTL.TXT"   "./freetype-install/"
        cp -f "./freetype.git/docs/GPLv2.TXT" "./freetype-install/"
        cp -f "./freetype.git/docs/CHANGES"   "./freetype-install/"
        cp -f "./freetype.git/docs/README"    "./freetype-install/"
        cp -f "./freetype.git/LICENSE.TXT"    "./freetype-install/"
    - name: Upload build
      uses: actions/upload-artifact@v4
      with:
        name: freetype-${{ env.SYSTEM }}-${{ env.ARCH }}-mingw
        path: freetype-install
        if-no-files-found: error
        retention-days: 1

  build-openal:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/cache@v5
      id: cache
      with:
        path: openal-install
        key: openal-${{ env.SYSTEM }}-${{ env.ARCH }}-mingw-${{ env.OPENAL_REF }}-${{ env.CACHE_REV }}
    - name: Clone Tree
      if: steps.cache.outputs.cache-hit != 'true'
      uses: actions/checkout@v6
      with:
        path: openal.git
        repository: kcat/openal-soft
        ref: ${{ env.OPENAL_REF }}
        fetch-depth: 1
    - name: Install Dependencies
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          g++ cmake ninja-build \
          mingw-w64-common mingw-w64-tools binutils-mingw-w64-x86-64 \
          g++-mingw-w64-x86-64-posix gcc-mingw-w64-x86-64-posix
        ${TOOLCHAIN_PREFIX}-g++ --version
    - name: Configure project
      if: steps.cache.outputs.cache-hit != 'true'
      env:
        OPENAL_CONFIG: |
          set(ALSOFT_UTILS           ON CACHE BOOL "")
          set(ALSOFT_NO_CONFIG_UTIL  ON CACHE BOOL "")
          set(ALSOFT_ENABLE_MODULES OFF CACHE BOOL "")
          set(ALSOFT_EXAMPLES       OFF CACHE BOOL "")
          set(ALSOFT_TESTS          OFF CACHE BOOL "")
          set(ALSOFT_BUILD_ROUTER   OFF CACHE BOOL "")
          # enable WinMM, WASAPI and DirectSound backends for Windows
          set(ALSOFT_REQUIRE_WINMM      ON CACHE BOOL "")
          set(ALSOFT_REQUIRE_DSOUND     ON CACHE BOOL "")
          set(ALSOFT_REQUIRE_WASAPI     ON CACHE BOOL "")
          set(ALSOFT_BACKEND_OPENSL    OFF CACHE BOOL "")
          set(ALSOFT_REQUIRE_OPENSL    OFF CACHE BOOL "")
          set(ALSOFT_BACKEND_WAVE      OFF CACHE BOOL "")
          set(ALSOFT_BACKEND_COREAUDIO OFF CACHE BOOL "")
          set(ALSOFT_REQUIRE_COREAUDIO OFF CACHE BOOL "")
          set(ALSOFT_STATIC_LIBGCC     OFF CACHE BOOL "")
          set(ALSOFT_STATIC_STDCXX     OFF CACHE BOOL "")
          set(ALSOFT_STATIC_WINPTHREAD OFF CACHE BOOL "")
          ${{ env.TOOLCHAIN_TEXT }}
          set(CMAKE_INSTALL_PREFIX "${CMAKE_CURRENT_LIST_DIR}/openal-install" CACHE PATH "")
      run: |
        echo "${OPENAL_CONFIG}" | tee ./openal-make.cmake
        cmake -S ./openal.git -B ./openal-make -G Ninja --toolchain "$PWD/openal-make.cmake"
    - name: Build project
      if: steps.cache.outputs.cache-hit != 'true'
      run: cmake --build ./openal-make
    - name: Install build
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        cmake --install ./openal-make --prefix ./openal-install
    - name: Post build
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        cp -f "./openal.git/COPYING"   "./openal-install/"
        cp -f "./openal.git/README.md" "./openal-install/"
        #cp -f /usr/${TOOLCHAIN_PREFIX}/lib/libwinpthread-1.dll             ./openal-install/bin/
        #cp -f /usr/lib/gcc/${TOOLCHAIN_PREFIX}/13-posix/libstdc++-6.dll    ./openal-install/bin/
        #cp -f /usr/lib/gcc/${TOOLCHAIN_PREFIX}/13-posix/libgcc_s_seh-1.dll ./openal-install/bin/
        #/usr/${TOOLCHAIN_PREFIX}/bin/strip ./openal-install/bin/libstdc++-6.dll --strip-unneeded
    - name: Upload build
      uses: actions/upload-artifact@v4
      with:
        name: openal-${{ env.SYSTEM }}-${{ env.ARCH }}-mingw
        path: openal-install
        if-no-files-found: error
        retention-days: 1

  build-openvr:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/cache@v5
      id: cache
      with:
        path: openvr-install
        key: openvr-${{ env.SYSTEM }}-${{ env.ARCH }}-mingw-${{ env.OPENVR_REF }}-${{ env.CACHE_REV }}
    - name: Clone Tree
      if: steps.cache.outputs.cache-hit != 'true'
      uses: actions/checkout@v6
      with:
        path: openvr.git
        repository: ValveSoftware/openvr
        ref: ${{ env.OPENVR_REF }}
        fetch-depth: 1
    - name: Clone scripts
      if: steps.cache.outputs.cache-hit != 'true'
      uses: actions/checkout@v6
      with:
        path: sview.git
        fetch-depth: 1
        sparse-checkout: '3rdparty/openvr'
        sparse-checkout-cone-mode: false
    - name: Install Dependencies
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          g++ cmake ninja-build python3 \
          mingw-w64-common mingw-w64-tools binutils-mingw-w64-x86-64 \
          g++-mingw-w64-x86-64-posix gcc-mingw-w64-x86-64-posix
        ${TOOLCHAIN_PREFIX}-g++ --version
    - name: Configure project
      if: steps.cache.outputs.cache-hit != 'true'
      env:
        OPENVR_CONFIG: |
          set(BUILD_SHARED ON  CACHE BOOL "")
          set(USE_LIBCXX   OFF CACHE BOOL "")
          # workaround for MinGW
          set(CMAKE_C_FLAGS   "-DWIN32")
          set(CMAKE_CXX_FLAGS "-DWIN32")
          ${{ env.TOOLCHAIN_TEXT }}
          set(CMAKE_INSTALL_PREFIX "${CMAKE_CURRENT_LIST_DIR}/openvr-install" CACHE PATH "")
      run: |
        echo "${OPENVR_CONFIG}" | tee ./openvr-make.cmake
        cmake -S ./openvr.git -B ./openvr-make -G Ninja --toolchain "$PWD/openvr-make.cmake"
    - name: Build project
      if: steps.cache.outputs.cache-hit != 'true'
      run: cmake --build ./openvr-make
    - name: Install build
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        cmake --install ./openvr-make --prefix ./openvr-install
        cp -f ./openvr.git/LICENSE   ./openvr-install/
        cp -f ./openvr.git/README.md ./openvr-install/
        mv -f ./openvr-install/include/openvr/*.h        ./openvr-install/include/
        cp -f ./openvr-install/lib/libopenvr_api64.dll.a ./openvr-install/lib/libopenvr_api.dll.a
        mkdir -p "./openvr-install/bin"
        mv -f ./openvr-install/lib/libopenvr_api64.dll   ./openvr-install/bin/
        # generate header that could be used to link by MSVC
        python ./sview.git/3rdparty/openvr/cxx_header_generator.py -d ./openvr-install/include/
    - name: Upload build
      uses: actions/upload-artifact@v4
      with:
        name: openvr-${{ env.SYSTEM }}-${{ env.ARCH }}-mingw
        path: openvr-install
        if-no-files-found: error
        retention-days: 1

  build-sview:
    runs-on: ubuntu-24.04
    needs: [build-freetype, build-openal, build-openvr]
    steps:
    - name: Clone Tree
      uses: actions/checkout@v6
      with:
        path: sview.git
        fetch-depth: 1
    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          g++ cmake ninja-build libz-mingw-w64-dev \
          mingw-w64-common mingw-w64-tools binutils-mingw-w64-x86-64 \
          g++-mingw-w64-x86-64-posix gcc-mingw-w64-x86-64-posix
        ${TOOLCHAIN_PREFIX}-g++ --version
    - name: Download FreeType build
      uses: actions/download-artifact@v5
      with:
        name: freetype-${{ env.SYSTEM }}-${{ env.ARCH }}-mingw
        path: freetype-install
    - name: Download OpenAL soft build
      uses: actions/download-artifact@v5
      with:
        name: openal-${{ env.SYSTEM }}-${{ env.ARCH }}-mingw
        path: openal-install
    - name: Download OpenVR build
      uses: actions/download-artifact@v5
      with:
        name: openvr-${{ env.SYSTEM }}-${{ env.ARCH }}-mingw
        path: openvr-install
    - name: Download FFmpeg build
      uses: actions/download-artifact@v5
      with:
        name: ffmpeg-${{ env.SYSTEM }}-${{ env.ARCH }}-mingw
        path: ffmpeg-install
    - name: Configure project
      env:
        SVIEW_CONFIG: |
          set(USE_OPENVR   ON  CACHE BOOL "")
          set(USE_MONGOOSE ON  CACHE BOOL "")
          set(USE_UPDATER  ON  CACHE BOOL "")
          set(USE_STCONFIG OFF CACHE BOOL "")
          set(BUILD_TREAT_WARNINGS_AS_ERRORS ON CACHE BOOL "")
          ${{ env.TOOLCHAIN_TEXT }}
          set(CMAKE_INSTALL_PREFIX "${CMAKE_CURRENT_LIST_DIR}/sview-install"    CACHE PATH "")
          set(FREETYPE_DIR         "${CMAKE_CURRENT_LIST_DIR}/freetype-install" CACHE PATH "")
          set(FFMPEG_DIR           "${CMAKE_CURRENT_LIST_DIR}/ffmpeg-install"   CACHE PATH "")
          set(OPENAL_DIR           "${CMAKE_CURRENT_LIST_DIR}/openal-install"   CACHE PATH "")
          set(OPENVR_DIR           "${CMAKE_CURRENT_LIST_DIR}/openvr-install"   CACHE PATH "")
      run: |
        export PKG_CONFIG_LIBDIR=
        export PKG_CONFIG_PATH=/usr/${TOOLCHAIN_PREFIX}/lib/pkgconfig:$PWD/ffmpeg-install/lib/pkgconfig:$PWD/freetype-install/lib/pkgconfig
        echo "${SVIEW_CONFIG}" | tee ./sview-make.cmake
        cmake -S ./sview.git -B ./sview-make -G Ninja --toolchain "$PWD/sview-make.cmake"
    - name: Build project
      run: cmake --build ./sview-make
    - name: Install build
      run: |
        cmake --install ./sview-make --prefix  ./sview-install
        cp -f ./freetype-install/bin/*.dll     ./sview-install/
        cp -f ./ffmpeg-install/bin/*.dll       ./sview-install/
        cp -f ./ffmpeg-install/bin/ffmpeg.exe  ./sview-install/
        cp -f ./ffmpeg-install/bin/ffprobe.exe ./sview-install/
        cp -f ./openal-install/bin/*.dll       ./sview-install/
        #cp -f ./openvr-install/bin/*.dll      ./sview-install/
        cp -f /usr/lib/gcc/${TOOLCHAIN_PREFIX}/13-posix/libstdc++-6.dll    ./sview-install/
        cp -f /usr/lib/gcc/${TOOLCHAIN_PREFIX}/13-posix/libgcc_s_seh-1.dll ./sview-install/
        /usr/${TOOLCHAIN_PREFIX}/bin/strip ./sview-install/libstdc++-6.dll --strip-unneeded
    - name: Install Dependencies for Testing
      run: |
        sudo apt-get install -y \
          xvfb scrot wine
    - name: Run StMonitorsDump
      run: |
        xvfb-run -a --server-args="-screen 0 1920x1080x24" wine \
          ./sview-install/StMonitorsDump.exe --nohtml
    - name: Run FFmpeg
      run: |
        xvfb-run -a --server-args="-screen 0 1920x1080x24" wine \
          ./sview-install/ffmpeg.exe -version
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: sview-${{ env.SYSTEM }}-${{ env.ARCH }}-mingw
        path: ./sview-install
        if-no-files-found: error
