name: Build (Windows/MSVC)
on:
  workflow_call:

env:
  ARCH: 'x64'
  SYSTEM: 'windows'
  FREETYPE_REF: 'VER-2-14-1'
  OPENAL_REF:   '1.25.1'
  OPENVR_REF:   'v2.5.1'
  CACHE_REV:    'cache4'

jobs:
  build-freetype:
    runs-on: windows-latest
    steps:
    - uses: actions/cache@v5
      id: cache
      with:
        path: freetype-install
        key: freetype-${{ env.SYSTEM }}-${{ env.ARCH }}-msvc-${{ env.FREETYPE_REF }}-${{ env.CACHE_REV }}
    - name: Clone Tree
      if: steps.cache.outputs.cache-hit != 'true'
      uses: actions/checkout@v6
      with:
        path: freetype.git
        repository: freetype/freetype
        ref: ${{ env.FREETYPE_REF }}
        fetch-depth: 1
    - name: Setup MSVC
      if: steps.cache.outputs.cache-hit != 'true'
      uses: ilammy/msvc-dev-cmd@v1.13.0
      with:
        arch: x64
    - name: Generate config options
      if: steps.cache.outputs.cache-hit != 'true'
      env:
        FREETYPE_CONFIG: |
          set(BUILD_SHARED_LIBS ON  CACHE BOOL "")
          set(FT_WITH_ZLIB      ON  CACHE BOOL "")
          set(FT_WITH_BZIP2     OFF CACHE BOOL "")
          set(FT_WITH_PNG       OFF CACHE BOOL "")
          set(FT_WITH_HARFBUZZ  OFF CACHE BOOL "")
          set(FT_WITH_BROTLI    OFF CACHE BOOL "")
          set(CMAKE_DISABLE_FIND_PACKAGE_ZLIB      TRUE CACHE BOOL "")
          set(CMAKE_DISABLE_FIND_PACKAGE_BZip2     TRUE CACHE BOOL "")
          set(CMAKE_DISABLE_FIND_PACKAGE_PNG       TRUE CACHE BOOL "")
          set(CMAKE_DISABLE_FIND_PACKAGE_HarfBuzz  TRUE CACHE BOOL "")
          set(CMAKE_DISABLE_FIND_PACKAGE_BrotliDec TRUE CACHE BOOL "")
          set(CMAKE_BUILD_TYPE      Release)
          set(CMAKE_INSTALL_PREFIX "${CMAKE_CURRENT_LIST_DIR}/freetype-install" CACHE PATH "")
      shell: bash
      run: |
        echo "${FREETYPE_CONFIG}" | tee ./freetype-make.cmake
    - name: Configure project
      if: steps.cache.outputs.cache-hit != 'true'
      shell: cmd
      run: |
        cmake -S ./freetype.git -B ./freetype-make -G Ninja --toolchain "%CD%/freetype-make.cmake"
    - name: Build project
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        cmake --build ./freetype-make
    - name: Install build
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        cmake --install ./freetype-make --prefix ./freetype-install
    - name: Install extras
      if: steps.cache.outputs.cache-hit != 'true'
      shell: bash
      run: |
        cp -f "./freetype.git/docs/FTL.TXT"   "./freetype-install/"
        cp -f "./freetype.git/docs/GPLv2.TXT" "./freetype-install/"
        cp -f "./freetype.git/docs/CHANGES"   "./freetype-install/"
        cp -f "./freetype.git/docs/README"    "./freetype-install/"
        cp -f "./freetype.git/LICENSE.TXT"    "./freetype-install/"
    - name: Upload build
      uses: actions/upload-artifact@v4
      with:
        name: freetype-${{ env.SYSTEM }}-${{ env.ARCH }}-msvc
        path: freetype-install
        if-no-files-found: error
        retention-days: 1

  build-openal:
    runs-on: windows-latest
    steps:
    - uses: actions/cache@v5
      id: cache
      with:
        path: openal-install
        key: openal-${{ env.SYSTEM }}-${{ env.ARCH }}-msvc-${{ env.OPENAL_REF }}-${{ env.CACHE_REV }}
    - name: Clone Tree
      if: steps.cache.outputs.cache-hit != 'true'
      uses: actions/checkout@v6
      with:
        path: openal.git
        repository: kcat/openal-soft
        ref: ${{ env.OPENAL_REF }}
        fetch-depth: 1
    - name: Setup MSVC
      if: steps.cache.outputs.cache-hit != 'true'
      uses: ilammy/msvc-dev-cmd@v1.13.0
      with:
        arch: x64
    - name: Generate config options
      if: steps.cache.outputs.cache-hit != 'true'
      env:
        OPENAL_CONFIG: |
          set(ALSOFT_UTILS           ON CACHE BOOL "")
          set(ALSOFT_NO_CONFIG_UTIL  ON CACHE BOOL "")
          set(ALSOFT_ENABLE_MODULES OFF CACHE BOOL "")
          set(ALSOFT_EXAMPLES       OFF CACHE BOOL "")
          set(ALSOFT_TESTS          OFF CACHE BOOL "")
          set(ALSOFT_BUILD_ROUTER   OFF CACHE BOOL "")
          # enable WinMM, WASAPI and DirectSound backends for Windows
          set(ALSOFT_REQUIRE_WINMM      ON CACHE BOOL "")
          set(ALSOFT_REQUIRE_DSOUND     ON CACHE BOOL "")
          set(ALSOFT_REQUIRE_WASAPI     ON CACHE BOOL "")
          set(ALSOFT_BACKEND_OPENSL    OFF CACHE BOOL "")
          set(ALSOFT_REQUIRE_OPENSL    OFF CACHE BOOL "")
          set(ALSOFT_BACKEND_WAVE      OFF CACHE BOOL "")
          set(ALSOFT_BACKEND_COREAUDIO OFF CACHE BOOL "")
          set(ALSOFT_REQUIRE_COREAUDIO OFF CACHE BOOL "")
          set(ALSOFT_STATIC_LIBGCC      ON CACHE BOOL "")
          set(ALSOFT_STATIC_STDCXX      ON CACHE BOOL "")
          set(ALSOFT_STATIC_WINPTHREAD  ON CACHE BOOL "")
          set(CMAKE_BUILD_TYPE      Release)
          set(CMAKE_INSTALL_PREFIX "${CMAKE_CURRENT_LIST_DIR}/openal-install" CACHE PATH "")
      shell: bash
      run: |
        echo "${OPENAL_CONFIG}" | tee ./openal-make.cmake
    - name: Configure project
      if: steps.cache.outputs.cache-hit != 'true'
      shell: cmd
      run: |
        cmake -S ./openal.git -B ./openal-make -G Ninja --toolchain "%CD%/openal-make.cmake"
    - name: Build project
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        cmake --build ./openal-make
    - name: Install build
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        cmake --install ./openal-make --prefix ./openal-install
    - name: Install extras
      if: steps.cache.outputs.cache-hit != 'true'
      shell: bash
      run: |
        cp -f "./openal.git/COPYING"   "./openal-install/"
        cp -f "./openal.git/README.md" "./openal-install/"
    - name: Upload build
      uses: actions/upload-artifact@v4
      with:
        name: openal-${{ env.SYSTEM }}-${{ env.ARCH }}-msvc
        path: openal-install
        if-no-files-found: error
        retention-days: 1

  build-openvr:
    runs-on: windows-latest
    steps:
    - uses: actions/cache@v5
      id: cache
      with:
        path: openvr-install
        key: openvr-${{ env.SYSTEM }}-${{ env.ARCH }}-msvc-${{ env.OPENVR_REF }}-${{ env.CACHE_REV }}
    - name: Clone Tree
      if: steps.cache.outputs.cache-hit != 'true'
      uses: actions/checkout@v6
      with:
        path: openvr.git
        repository: ValveSoftware/openvr
        ref: ${{ env.OPENVR_REF }}
        fetch-depth: 1
    - name: Setup MSVC
      if: steps.cache.outputs.cache-hit != 'true'
      uses: ilammy/msvc-dev-cmd@v1.13.0
      with:
        arch: x64
    - name: Generate config options
      if: steps.cache.outputs.cache-hit != 'true'
      env:
        OPENVR_CONFIG: |
          set(BUILD_SHARED ON  CACHE BOOL "")
          set(USE_LIBCXX   OFF CACHE BOOL "")
          set(CMAKE_BUILD_TYPE     Release)
          set(CMAKE_INSTALL_PREFIX "${CMAKE_CURRENT_LIST_DIR}/openvr-install" CACHE PATH "")
      shell: bash
      run: |
        echo "${OPENVR_CONFIG}" | tee ./openvr-make.cmake
    - name: Configure project
      if: steps.cache.outputs.cache-hit != 'true'
      shell: cmd
      run: |
        cmake -S ./openvr.git -B ./openvr-make -G Ninja --toolchain "%CD%/openvr-make.cmake"
    - name: Build project
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        cmake --build ./openvr-make
    - name: Install build
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        cmake --install ./openvr-make --prefix ./openvr-install
    - name: Install extras
      if: steps.cache.outputs.cache-hit != 'true'
      shell: bash
      run: |
        cp -f ./openvr.git/LICENSE   ./openvr-install/
        cp -f ./openvr.git/README.md ./openvr-install/
        mv -f ./openvr-install/include/openvr/*.h   ./openvr-install/include/
        cp -f ./openvr-install/lib/openvr_api64.lib ./openvr-install/lib/openvr_api.lib
        mkdir -p "./openvr-install/bin"
        mv -f ./openvr-install/lib/openvr_api64.dll ./openvr-install/bin/
    - name: Upload build
      uses: actions/upload-artifact@v4
      with:
        name: openvr-${{ env.SYSTEM }}-${{ env.ARCH }}-msvc
        path: openvr-install
        if-no-files-found: error
        retention-days: 1

  build-sview:
    runs-on: windows-latest
    needs: [build-freetype, build-openal, build-openvr]
    steps:
    - name: Clone source tree
      uses: actions/checkout@v6
      with:
        path: sview.git
        fetch-depth: 1
    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1.13.0
      with:
        arch: x64
    - name: Download FreeType build
      uses: actions/download-artifact@v5
      with:
        name: freetype-${{ env.SYSTEM }}-${{ env.ARCH }}-msvc
        path: freetype-install
    - name: Download OpenAL soft build
      uses: actions/download-artifact@v5
      with:
        name: openal-${{ env.SYSTEM }}-${{ env.ARCH }}-msvc
        path: openal-install
    - name: Download OpenVR build
      uses: actions/download-artifact@v5
      with:
        name: openvr-${{ env.SYSTEM }}-${{ env.ARCH }}-msvc
        path: openvr-install
    - name: Download FFmpeg build
      uses: actions/download-artifact@v5
      with:
        name: ffmpeg-${{ env.SYSTEM }}-${{ env.ARCH }}-mingw
        path: ffmpeg-install
    - name: Prepare FFmpeg
      shell: bash
      run: |
        cp -f ./ffmpeg-install/bin/*.lib ./ffmpeg-install/lib/
    - name: Generate config options
      if: steps.cache.outputs.cache-hit != 'true'
      env:
        SVIEW_CONFIG: |
          set(USE_OPENVR   ON CACHE BOOL "")
          set(USE_MONGOOSE ON CACHE BOOL "")
          set(USE_UPDATER  ON CACHE BOOL "")
          set(BUILD_TREAT_WARNINGS_AS_ERRORS ON CACHE BOOL "")
          set(CMAKE_BUILD_TYPE     Release)
          set(CMAKE_INSTALL_PREFIX "${CMAKE_CURRENT_LIST_DIR}/sview-install"    CACHE PATH "")
          set(FREETYPE_DIR         "${CMAKE_CURRENT_LIST_DIR}/freetype-install" CACHE PATH "")
          set(FFMPEG_DIR           "${CMAKE_CURRENT_LIST_DIR}/ffmpeg-install"   CACHE PATH "")
          set(OPENAL_DIR           "${CMAKE_CURRENT_LIST_DIR}/openal-install"   CACHE PATH "")
          set(OPENVR_DIR           "${CMAKE_CURRENT_LIST_DIR}/openvr-install"   CACHE PATH "")
      shell: bash
      run: |
        echo "${SVIEW_CONFIG}" | tee ./sview-make.cmake
    - name: Configure project
      shell: cmd
      run: |
        cmake -S ./sview.git -B ./sview-make -G Ninja --toolchain "%CD%/sview-make.cmake"
    - name: Build project
      run: |
        cmake --build ./sview-make
    - name: Install build
      run: |
        cmake --install ./sview-make --prefix ./sview-install
    - name: Run StMonitorsDump
      run: |
        ./sview-install/StMonitorsDump.exe --nohtml
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: sview-${{ env.SYSTEM }}-${{ env.ARCH }}-msvc
        path: sview-install
        if-no-files-found: error
