name: Build (Windows/MSVC)
on:
  workflow_call:

jobs:
  build-windows-msvc:
    runs-on: windows-latest
    steps:
    - name: Clone source tree
      uses: actions/checkout@v6
      with:
        path: sview.git
        fetch-depth: 1
    - name: Clone 3rdparty libraries
      uses: actions/checkout@v6
      with:
        repository: gkv311/sview-deps-wnt
        ref: 'master'
        path: sview-deps-wnt.git
        fetch-depth: 1
    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1.13.0
      with:
        arch: x64
    - name: Install dependencies
      run: |
        choco install cmake --no-progress --installargs 'ADD_CMAKE_TO_PATH=System' -y
    - name: Configure project
      shell: cmd
      run: |
        call .\sview-deps-wnt.git\unpack.bat
        cmake -S ./sview.git -B ./sview-make -T host=x64 ^
          -D BUILD_TREAT_WARNINGS_AS_ERRORS=OFF ^
          -D CMAKE_INSTALL_PREFIX="%CD%/sview-install" ^
          -D FREETYPE_DIR=./sview-deps-wnt.git/%ST_FREETYPE% ^
          -D FFMPEG_DIR=./sview-deps-wnt.git/%ST_FFMPEG% ^
          -D OPENAL_DIR=./sview-deps-wnt.git/%ST_OPENAL% ^
          -D OPENVR_DIR=./sview-deps-wnt.git/%ST_OPENVR%
    - name: Build project
      run: |
        cmake --build ./sview-make --config Release -- /m
        cmake --build ./sview-make --config Release --target install
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: sview-windows-x64-msvc
        path: sview-install
        if-no-files-found: error
